# Node / Next.js
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Python / Django
/backend/__pycache__
/backend/db.sqlite3
*.pyc
*.pyo
*.pyd

# Operating System files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode
.idea